# ENV
NODE_ENV =
PORT =

# CORS
CORS_ORIGIN =

# DB
MONGO_URI =

# Argon2
HASH_MEMORY_COST =
HASH_TIME_COST =
HASH_PARALLELISM =

# Password
PASSWORD_EXPIRATION_DAYS =
PASSWORD_RESET_TOKEN_EXPIRATION_HOURS =
PASSWORD_LENGTH_MIN =
PASSWORD_LENGTH_MAX =

# JWT
JWT_ISSUER =
JWT_AUDIENCE =
JWT_TOLERANCE =
JWT_ACCESS_SECRET =
JWT_ACCESS_EXPIRES_HOURS =
JWT_REFRESH_SECRET =
JWT_REFRESH_EXPIRES_DAYS =

# COOKIE
COOKIE_PATH =
COOKIE_DOMAIN =
COOKIE_SECURE =
COOKIE_SAME_SITE =
COOKIE_HTTPONLY =